*.obj
*.suo
*.ncb
*.user
*.pdb
*.swp
*.dll
*.exe
*.manifest
*.exe.config
*.opensdf

*.ReSharper
_ReSharper*

obj/
bin/
Debug/
CefSharp/app.aps
TestResult.xml
/Debug/
debug.log
/.JustCode/CefSharp2010.solution-user.settings.xml
*.sdf
*.log
ipch/
